/* src/components/AccessModal.css – только уникальные стили */

/* Уникальные стили для контента AccessModal */
.modal-text {
  margin: 0 0 24px;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
}

/* Buttons block */
.modal-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.modal-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
}

.primary {
  background: #FFC107;
  color: #000;
  border: none;
}

.primary:hover {
  background: #ffca28;
  transform: translateY(-2px); /* подъем при ховере */
}

.secondary {
  background: transparent;
  color: #FFC107;
  border: 2px solid #FFC107;
  padding: 10px 22px;
}

.secondary:hover {
  background: transparent;
  border: 2px solid #FFC107;
  color: #FFC107;
  transform: translateY(-2px); /* подъем при ховере */
  outline: none;
  box-shadow: none;
}